.box-joke {
  height: 100%;
  min-height: 66px;
  margin: 0 8px 32px;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #34394f;

  @media (min-width: 555px) {
    margin: 0 0 32px;
  }
}
