.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  @media (min-width: 555px) {
    width: 555px;
    padding: 48px 58px 72px;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  }
}

.wrap-joke {
  height: 66px;
  margin: 0 8px 32px;

  @media (min-width: 555px) {
    margin: 0 0 32px;
  }
}
