.input-name {
  width: 94%;
  height: 58px;
  display: flex;
  justify-content: center;
  margin: 0 8px 32px;
  padding: 16px;
  border-radius: 6px;
  border: solid 2px #c4c4c4;
  color: #34394f;
  background-color: #ffffff;

  &::placeholder {
    color: #c4c4c4;
  }

  &:focus {
    outline: none;
    border-radius: 6px;
    border: solid 2px #34394f;
  }

  @media (min-width: 555px) {
    width: 100%;
    margin: 0 0 32px;
  }
}
