/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;

  @media (min-width: 375px) {
    height: 100vh;
  }
  @media (orientation: landscape) {
    padding: 8px 0;
  }
}
