// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chuck-api-primary: mat-palette($mat-indigo);
$chuck-api-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chuck-api-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chuck-api-theme: mat-light-theme(
  (
    color: (
      primary: $chuck-api-primary,
      accent: $chuck-api-accent,
      warn: $chuck-api-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chuck-api-theme);

/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: #ffffff;

  @media (min-width: 555px) {
    padding: 0;
    background-color: #f9f9f9;
  }
  @media (min-width: 555px) and (orientation: portrait) {
    height: 100vh;
  }
  @media (min-width: 909px) and (orientation: landscape) {
    height: 100vh;
  }
  @media (orientation: landscape) {
    padding: 8px 0;
  }
}

/* start | style for categories component */

.mat-form-field.custom {
  width: 94%;
  height: 58px;
  margin: 0 8px 16px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  cursor: inherit;
  border-radius: 6px;
  border: solid 2px #c4c4c4;

  &:focus {
    outline: none;
    border-radius: 6px;
    border: solid 2px #34394f;
    color: #c4c4c4;
  }

  .mat-form-field-wrapper {
    height: 58px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .mat-form-field-flex {
      padding: 0 16px;
      border-radius: 6px;
      background-color: #ffffff;

      .mat-form-field-infix {
        padding: 0;
        border-top: 0;
      }
    }
    .mat-form-field-underline {
      display: none;

      &::before {
        display: none;
      }
    }
  }

  @media (min-width: 555px) {
    width: 100%;
    margin: 0 0 16px;
  }
}

.mat-select {
  font-family: Inter, sans-serif;
}

.mat-select-panel.mat-primary {
  border-radius: 6px;
  border: solid 2px #c4c4c4;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background-color: #e9e9e9;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #34394f;
}

.mat-select-arrow {
  color: #c4c4c4;
}
.mat-option {
  margin: 8px;
  border-radius: 6px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  color: #34394f;

  &:hover {
    background: #e9e9e9;
  }
}

.mat-option.mat-active {
  color: #c4c4c4;
  background: #e9e9e9;
}

.mat-option:hover:not(.mat-option-disabled) {
  background: #e9e9e9;
}

.mat-option.mat-selected:not(.mat-option-disabled) {
  font-weight: 600;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #34394f;
}

.mat-form-field-label {
  color: #c4c4c4;
}

/* end | style for categories component */
