/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/Inter/static/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets//fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  background-color: #ffffff;

  @media (min-width: 555px) {
    padding: 0;
    background-color: #f9f9f9;
  }
  @media (min-width: 555px) and (orientation: portrait) {
    height: 100vh;
  }
  @media (min-width: 909px) and (orientation: landscape) {
    height: 100vh;
  }
  @media (orientation: landscape) {
    padding: 8px 0;
  }
}

.ng-select.main {
  width: 94%;
  height: 58px;
  margin: 0 8px 16px;
  font-family: inherit;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.52px;
  text-align: left;
  cursor: inherit;
  border-radius: 6px;
  color: #c4c4c4;
  background-color: #ffffff;

  @media (min-width: 555px) {
    width: 100%;
    margin: 0 0 16px;
  }
}

/* start | style for categories component */

.ng-select.main {
  &:focus {
    outline: none;
    border-radius: 6px;
    border: solid 2px #34394f;
  }

  .ng-select-container {
    width: 100%;
    height: 58px;
    margin: 0 0 16px;
    padding: 0 16px 0 8px;
    border-radius: 6px;
    border: solid 2px #c4c4c4;
    color: #c4c4c4;

    .ng-value-container {
      .ng-placeholder {
        color: #c4c4c4;
      }

      .ng-value {
        color: #34394f;
      }
    }

    @media (min-width: 555px) {
      width: 100%;
      margin: 0 0 16px;
    }
  }

  .ng-input {
    display: none;
  }

  .ng-dropdown-panel {
    width: 100%;
    margin: 0 0 16px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-color: #ffffff;
    margin-top: -4px;
    border: solid 2px #c4c4c4;
    border-top: none;
    color: #34394f;
    animation: fadein 0.2s ease-in alternate both;

    .ng-dropdown-panel-items {
      padding-bottom: 8px;

      .ng-option {
        display: flex;
        align-items: center;
        height: 58px;
        margin: 0 8px;
        color: #34394f;
        background-color: #ffffff;
      }

      .ng-option.ng-option-marked {
        display: flex;
        align-items: center;
        margin: 0 8px;
        border-radius: 6px;
        color: #34394f;
        background-color: #e9e9e9;
      }
    }

    @media (min-width: 555px) {
      width: 100%;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* end | style for categories component */
